<div>
    <u-test></u-test>
    <p>I'm the foo.js page.</p>

    <a href="#/foo/bar/">Test link</a>

    <% for(var key in names.names){ %>
    <li>First Name: <%= names.names[key].firstname %></li>
    <% } %>
    
    <% if(window.location.href.indexOf("bar") > -1) { %>
        <h2>Showing the bar sub-page</h2>
        <p>This sub-page is injected via template if/else.</p>
        <u-comp1></u-comp1>
    <% } %>
</div>