<div>
    <p>Injected template -- <a href="#/foo/">Click here</a>. Alternatively, <a href="#" data-on-click="handler">click here</a>.</p>
    <button data-on-click="changeName">Change my name...</button><br />
    <u-test></u-test>
    <% for(var key in names.names){ %>
    <% var Name = names.names[key] %>
    <li>Name: <%= Name.firstname %> <%= Name.lastname %>. Username: <%= Name.username %></li>
    <% } %>
</div>