<div>
    <h2><%= store.firstName %> is great!</h2>
    <p>Time now is: <%= store.time %></%></p>
    <ul>
        <% for(var key in store.jimmy){ %>
        <li><a href="#" data-on-click="handler"><%= store.jimmy[key] %></a></li>
        <% } %>
    </ul>
</div>